{% extends "base.html" %}

{% block content %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<span style = "float: left; position: relative; left: 40%">
		<p>
			{{ form.username.label }}<br>
			{{ form.username(class="input") }} <br>
			{% for error in form.username.errors %}
			<span style = "color: red; font-size: 18px">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.email.label }}<br>
			{{ form.email(class = "input") }} <br> 
			{% for error in form.email.errors %}
			<span style = "color: red; font-size: 18px">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}<br>
			{{ form.password(class = "input") }} <br> 
			{% for error in form.password.errors %}
			<span style = "color: red; font-size: 18px">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password2.label }}<br>
			{{ form.password2(class = "input") }} <br> 
			{% for error in form.password2.errors %}
			<span style = "color: red; font-size: 18px">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
		{{ form.submit(class = "buttonSubmit") }}
		<button type="button" onclick="homeLoc()" class="buttonCancel">Cancel</button>
		</p>
		</span>
	</form>
{% endblock %}